/* anatomia del css
selecto id{
    propiedades:valor;
    propiedades:valor;
 }
 */
 
 h1{
     color: rgb(190, 201, 44);
     background-color: rgb(255, 255, 255);
 }
 h2{
     color:chocolate;
 }
 h3{
     color:blue
 }
 h4{
     color: blueviolet;
 }
 p{
     color: rgb(7, 34, 4);
 }

 body {
     background-color: rgb(101, 211, 248);
 }
 
 #provincia {
     /* ancho */
     width: 300px;
     /* alto */
     height: 700;
 }
 table{
     background-color: rgb(0, 0, 0);
     width: 100%;
 }
 th{
     background-color: blueviolet;
 }
 td{
     background-color: firebrick;
 }